<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="headline (txt)">
		<div th:fragment="nav (all,menu)">
		<div class="container">
	<nav class="navbar navbar-expand-md navbar-light bg-light">
			<a class="navbar-brand p-1 mr-5">Pizza Service</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#thenavbarDefault" aria-controls="thenavbarDefault"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse " id="thenavbarDefault">
			<ul class="navbar-nav ml-auto">
			
					<li class="nav-item navbar-nav p-1" th:if="${currentUser != null}">
							<form th:action="@{/orders}" method="get">
								<input type="submit" class="btn btn-outline-dark"
									value="Orders">		
							</form>
					</li>
					<li class="nav-item navbar-nav p-1" th:if="${currentUser != null and #strings.toString(currentUser.user.role) == 'ADMIN'}">
							<form th:action="@{/order-overview}" method="get">
								<input type="submit" class="btn btn-outline-dark"
									value="All Orders">		
							</form>
					</li>
					<li class="nav-item navbar-nav p-1" th:if="${currentUser == null}">
							<form th:action="@{/signin}" method="get">
								<input type="submit" class="btn btn-outline-success"
									value="Sign In">						
							</form>
					</li>
					<li class="nav-item navbar-nav p-1" th:if="${currentUser != null}">
							<form th:action="@{/logout}" method="get">
								<input type="submit" class="btn btn-outline-success"
									value="logout">						
							</form>
					</li>
					<li class="nav-item navbar-nav p-1" th:if="${menu == true}">
							<form th:action="@{/menu}" method="get">
								<input type="submit" class="btn btn-outline-info"
									value="menu">						
							</form>
					</li>
					<li class="nav-item navbar-nav p-1" th:if="${menu == false and currentUser != null}">
							<form th:action="@{/cart}" method="get">
								<input type="submit" class="btn btn-outline-info"
									value="cart">						
							</form>
					</li>
				</ul></div>
		</nav></div>
		<br></div>	
	</div>
</body>
</html>