<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="headline (txt)">
		<div th:fragment="nav (all)">
		<div class="container">
	<nav class="navbar navbar-expand-md navbar-light bg-light">
			<a class="navbar-brand p-1 mr-5">Pizza Service</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#thenavbarDefault" aria-controls="thenavbarDefault"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse " id="thenavbarDefault">
			<ul class="navbar-nav ml-auto">
					<li class="nav-item navbar-nav p-1">
							<form th:action="@{/cart}" method="post">
								<input type="submit" class="btn btn-outline-success"
									value="Warenkorb">						
							</form>
					</li>
				</ul></div>
		</nav></div>
		<br></div>	
	</div>
</body>
</html>