<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,
	initial-scale=1, shrink-to-fit=no">
<title>Notenverwaltung</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/
	bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="insert-the-appropriate-sha384key"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/mystyle.css"
	ref="@{/css/mystyle.css}" media="screen">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
	src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity=" insert-the-appropriate-sha384key "
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/
	1.14.6/umd/popper.min.js"
	integrity=" insert-the-appropriate-sha384key"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity=" insert-the-appropriate-sha384key"
	crossorigin="anonymous"></script>
</head>
</html>